= if User.can_edit?(@user, current_user(@conn)) do
  nav.ink-navigation
    ul.menu.horizontal.white
      li class=active_class(String.match?(@conn.request_path,~r/^\/user\/[a-z0-9\-]+\/?$/i))
        = link "profile", to: user_path(@conn, :show, @user.name_lower)
      li class=active_class(String.ends_with?(@conn.request_path,"/edit"))
        = link "settings", to: user_path(@conn, :edit, @user.name_lower)
      li class=active_class(String.ends_with?(@conn.request_path,"/subscriptions"))
        = link "subscriptions", to: user_path(@conn, :show, @user.name_lower) <> "/subscriptions"