= render "_nav.html", conn: @conn, user: @user
= form_for @changeset, user_path(@conn, :update, @user.name_lower), [id: "settings_form", class: "ink-form"], fn f ->
  div.control-group.no-margin
    ul.control.checkbox-list
      li = checkbox f, :show_nsfw, data: ["body-off": "hide-nsfw"]
         = label f, :show_nsfw, "Always show NSFW thumbnails"
      li = checkbox f, :unread_enable, data: ["body-on": "unread-enable", "field-enable": "#unread_settings"]
         = label f, :unread_enable, "Allow links I've seen to be toggled read/unread"
        fieldset#unread_settings disabled=!@user.unread_enable
          ul
            li = checkbox f, :unread_scroll, data: ["body-on": "unread-scroll"]
               = label f, :unread_scroll, "Mark as read as I scroll past"
            li = checkbox f, :unread_click, data: ["body-on": "unread-click"]
               = label f, :unread_click, "Mark as read when I click link titles"
            li = checkbox f, :unread_comment, data: ["body-on": "unread-comment"]
               = label f, :unread_comment, "Mark as read when I visit comments page"
    = if current_user(@conn).admin && !@user.admin do
      p.label admin options
      = hidden_input f, :admin, value: 1
      ul.control.checkbox-list
        li = checkbox f, :banned
           = label f, :banned, "ban this user"
    = render Lynx.SharedView, "_ajax_form_footer.html"
= form_for @changeset, user_path(@conn, :update, @user.name_lower), [id: "profile_form", class: "ink-form"], fn f ->
  h2 Update Profile
  = hidden_input f, :update_profile, value: 1
  div.control-group = label f, :email
    div.control = text_input f, :email, class: "u-full-width", maxlength: 255
  div.control-group
    div.markdown-field.control
      = label f, :profile
      = textarea f, :profile, class: "u-full-width", maxlength: 25000
      = render Lynx.SharedView, "_markdown_help.html"
    = submit "Submit", class: "ink-button blue"
= form_for @changeset, user_path(@conn, :update, @user.name_lower), [id: "password_form", class: "ink-form"], fn f ->
  h2 Update Password
  = hidden_input f, :update_password, value: 1
  div.control-group = label f, :password, "Current Password", class: "required"
    div.control = password_input f, :current_password, class: "u-full-width"
  div.control-group = label f, :password, "Password", class: "required"
    div.control.append-button
      span = password_input f, :password
      button.ink-button.toggle-password tabindex="-1"
        i.fa.fa-eye
  = submit "Submit", class: "ink-button blue"
