noscript
  div class="ink-alert block warning" role="alert"
    h4 javascript is disabled
    p you need to enable javascript to sign in and use the rest of the site
= form_for @conn, session_path(@conn, :create), [class: "no-turbolinks ink-form", as: :sign_in, id: "sign_in_form"], fn f ->
  div.control-group
    = label f, :name, "Name", class: "required"
    div.control = text_input f, :name
  div.control-group
    = label f, :password, "Password", class: "required"
    div.control = password_input f, :password
  = captcha "sign_in", true
  = submit "Sign in", class: "ink-button blue"
 end
= form_for @changeset, user_path(@conn, :create), [class: "no-turbolinks ink-form", id: "register_form"], fn f ->
  h2 Register
  = render Lynx.SharedView, "_form_errors.html", changeset: @changeset
  div.control-group
    = label f, :name, "Name", class: "required"
    div.control = text_input f, :name, placeholder: "Only letters, numbers, and dashes", maxlength: 25
  div.control-group
    = label f, :password, "Password", class: "required"
    div.control.append-button
      span = password_input f, :password
      button.ink-button.toggle-password tabindex="-1"
        i.fa.fa-eye
  div.control-group
    = label f, :email, "Email"
    div.control = text_input f, :email, placeholder: "optional", maxlength: 255
  = captcha "register"
  = submit "Register", class: "ink-button blue"
