= render "_nav.html", conn: @conn, user: @user
= if @subscriptions != [] do
  div#subscriptions_list.ink-grid.no-padding data-url=user_subscription_path(@conn,:index,@user.name_lower)
    div.column-group.half-gutters
      div.all-50.tiny-100.small-100.medium-100
        = if @subscriptions[:subscribed] do
          ul.tag_list
            = render_many @subscriptions[:subscribed], Lynx.TagView, "_tag.html", conn: @conn
      div.all-50.tiny-100.small-100.medium-100
        = if @subscriptions[:blocked] do
          ul.tag_list
            = render_many @subscriptions[:blocked], Lynx.TagView, "_tag.html", conn: @conn
- else
  h6 You have no subscriptions.
