aside#sidebar
  = if current_user(@conn).id do
    div.button-group
      = link raw("<i class=\"fa fa-sign-out\"></i>"), to: session_path(@conn, :delete, current_user(@conn).name_lower), id: "sign_out", class: "ink-button red", title: "sign out"
      = link raw("<i class=\"fa fa-gear\"></i>"), to: user_path(@conn, :edit, current_user(@conn).name_lower), id: "settings", class: "ink-button", title: "settings"
      = user_button(@conn)
    a#unread.ink-button.black href="/unread"
      i.fa.fa-folder-open
      = unread_counter(current_user(@conn).unread_count)
      |  unread items
    a#submit.ink-button.black href="/submit"
      i.fa.fa-certificate
      | submit new item
    = if current_user(@conn).admin do
      a#submit.ink-button.black href="/admin"
        i.fa.fa-wrench
        | admin
  - else
    = user_button(@conn)
  h6
    = if current_user(@conn).id do
      = link raw("my subscribed tags"), to: user_subscription_path(@conn, :index, current_user(@conn).name_lower), id: "my_subscriptions"
    - else
      h6 popular tags
  ul#tags
    = unless is_nil @tags do
      = for tag <- @tags do
        li
          a href=tag_path(@conn,:show,tag.name_indexed) = tag.name_indexed
    li.all
      a href=tag_path(@conn,:index) view all