doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    meta content="no-cache" name="turbolinks-cache-control"
    title = title(@conn)
    link rel="stylesheet" href=static_path(@conn,"/css/app.css")
  body class=body_classes(@conn)
    = render "_sidebar.html", conn: @conn, tags: Tag.subscribed_tags(current_user(@conn).id)
    header
      a#menu href="#"
        i.fa.fa-bars
      h1
        = link config(:site_name), to: "/"
        small = mini_title(@conn)
      a#user_mobile = user_mobile_button(@conn)
    div#content
      = alerts(@conn)
      = render(@view_module, @view_template, assigns)
      = data_vars(@conn)
    script src="https://www.google.com/recaptcha/api.js?render=explicit" data-turbolinks-eval="false"
    script src=static_path(@conn,"/js/vendor.js") data-turbolinks-eval="false"
    script src=static_path(@conn,"/js/app.js") data-turbolinks-eval="false"
    script = inline_js()
    = if config(:server_env) == "prod" do
      script = google_tracking_code()
    /!
      = env_info()
