= form_for @changeset, @action, [class: "ink-form", id: "form_rss"], fn f ->
  /= render Lynx.SharedView, "_form_errors.html", changeset: @changeset
  div.control-group
    = label f, :name, class: "required"
    div.control = text_input f, :name
  div#link_url_container.control-group
    = label f, :url, "RSS feed URL", class: "required"
    div.control = text_input f, :url
  div.control-group
    = label f, :title, class: "required"
    div.control = text_input f, :title
    p.tip this will be the title of the link that is automatically posted, use {variables} for the rss fields. leave this default when in doubt.
  div.control-group
    = label f, :search, "Regex Search"
    div.control = text_input f, :search
    p.tip regex will be applied to "title" field above
  div.control-group
    = label f, :replace, "Regex Replace"
    div.control = text_input f, :replace
  div.control-group
    = label f, :replace, "Regex Match"
    div.control = text_input f, :match
    p.tip this regex must match for the content to be posted at all
  div.control-group
    = label f, :tags, class: "required"
    = hidden_input f, :tag_list, value: f.data.tag_list, id: "link_tag_list"
    div.control
      div#tags_container
        div#form_tags_list
      div#tags_autocomplete.ink-dropdown
        ul.dropdown
          li.disabled
            a href="#" no results
    p.tip
      | tags that you specify must already exist, limited to 5. if you wish to add new tags to the site you should add them
      = " "
      = link("here", to: tag_path(@conn, :new), target: "_blank")
      | .
  div.control-group
    div = label f, :minutes_lower, "Time Delay range (in minutes)", class: "required"
    = text_input f, :minutes_lower
    = " to "
    = text_input f, :minutes_upper
    p.tip
      | random time delay between checking the feed. set to lower if a feed is popular. when the rss feed is checked, only ONE new item will be posted.
  div.control-group
    div.control
      = checkbox f, :active
      = label f, :active
    div.control
      = checkbox f, :clean_url
      = label f, :clean_url, "follow links from this feed to get the true url"
  = submit "Submit", class: "ink-button blue"