= render Lynx.AdminView, "_nav.html", conn: @conn
= render "_form.html", conn: @conn,
                       action: admin_rss_path(@conn, :update, @rss.id),
                       changeset: @changeset