= render Lynx.AdminView, "_nav.html", conn: @conn
| all rss entries will be posted to the account:
= " "
= link @bot.name_lower, to: user_path(@conn, :show, @bot.name_lower)
= render("_new_button.html", conn: @conn)
= if @rss_feeds do
  table.ink-table.alternating
    thead
      tr
        th.align-left name
        th.align-left
          abbr title="last time that an item was successfully parsed and added to the site" last parse
        th.align-left active
        th.align-left actions
    tbody
      = for rss <- @rss_feeds do
        tr
          td = link rss.name, to: admin_rss_path(@conn, :show, rss.id)
          td = if rss.last_parse, do: Timex.from_now(rss.last_parse), else: raw("<em>never</em>")
          td = if rss.active, do: "yes", else: "no"
          td.action-links
            /= rss.url
            = link(raw("<i class=\"fa fa-eye\"></i>"), to: admin_rss_path(@conn, :show, rss.id))
            = link(raw("<i class=\"fa fa-edit\"></i>"), to: admin_rss_path(@conn, :edit, rss.id))
            = link(raw("<i class=\"fa fa-trash\"></i>"), to: admin_rss_path(@conn, :delete, rss.id), method: :delete, data: [confirm: "Are you sure?"])