= render Lynx.AdminView, "_nav.html", conn: @conn
= render "_edit_button.html",  conn: @conn, rss: @rss
strong tags:
= " " <> @rss.tag_list
br
em showing up to 10 items from the RSS feed formatted as per settings for this feed
= for feed <- @feeds do
  hr
  strong title:
  = " #{feed.title}"
  br
  strong url:
  = " #{feed.link}"
  br
  strong date:
  = " #{feed.updated}"