/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import _constants

/*** Base elements ***/
html
  background: $background
  padding: 0 1rem
  min-height: 100%

body
  background: white
  font-size: 14px
  @include font("robotoregular")
  color: #000
  min-height: 100vh
  margin: 0 auto
  max-width: $max_width
  border-bottom: 1rem solid $background
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

h1,h2,h3,h4,h5,h6
  @include font("robotomedium")
  margin: 0 0 8px 0
  letter-spacing: 0
  font-weight: normal
  text-transform: lowercase

h1
  text-transform: none
  padding: 0.5rem
  margin: 0
  white-space: nowrap
  font-size: 30px
  line-height: 22px
  display: inline-block
  @include link-colors($black2, $black3)
  a
    @include link-colors($black2, $black3)
  a:hover
    text-decoration: none
  small
    color: $black1
    text-transform: lowercase
    font-size: 22px
    padding: 0 0 0 0.2rem
    a
      @include link-colors($orange1, $orange2)

h3
  font-size: 20px

h4
  font-size: 18px

h5
  font-size: 16px

h6
  margin: 5px 0
  font-size: 16px

strong, b
  @include font("robotobold")

iframe
  border: 0

a
  @include link-colors($blue1, $blue2)

p
  margin-bottom: 1rem

header
  display: inline
/*.no-margin
  margin: 0 */

/*** Markdown styles ***/
.markdown
  blockquote
    border-left: 2px solid $green1
    color: $green1
    margin: 0
    padding: 0 0 0 5px
  ul, ol
    font-size: 100%
    margin: 0 0 0 5px
    ul, ol
      margin: 0 0 0 15px
  li
    margin: 0
  p
    margin: 0
  p + p
    margin: 5px 0 0 0

.markdown-field
  margin-bottom: 0.5rem

  dl.markdown-help
    display: none
    width: 100%
    max-width: 800px
    border-bottom: 1px solid $black4
    margin: 0.5rem 0

    .header
      @include font("robotomedium")
      border-top: 0
      font-weight: bold

    dt, dd
      margin: 0
      padding: 3px
      display: block
      border-top: 1px solid $black4

    dt
      float: left
      width: 50%
      font-family: monospace, monospace
      white-space: pre-wrap

    dd
      margin-left: 50%

    dd:after
      border-bottom: 0
      visibility: hidden
      display: block
      font-size: 0
      content: " "
      clear: left
      height: 0

  textarea
    margin: 0

  table.markdown-help
    display: none

    td
      border-bottom: 1px solid $black4
      margin: 0

    thead td
      @include font("robotomedium")


/*** Alerts, errors ***/
#fatal_error
  border: 1px solid $red2
  background: $red4
  border-radius: 5px

  h4
    margin: 0
    padding: 8px
    background: $red2
    color: #fff

  p
    margin: 8px

.errors
  color: #c00
  margin: 0 0 5px 0
  text-transform: lowercase

.ink-alert p
  text-transform: lowercase

.ink-alert.basic
  margin: 0 0 0.5rem 0

.ink-alert.block > h4
  font-size: 16px
  padding: 0.5rem 0.5rem 0.5rem 1rem

.ink-alert.block p
  margin: 1rem


/*** Buttons ***/
.report a, .delete a
  @include text-button($red1, $red2, $red4, $red3, $red1)

.reply a
  @include text-button($green1, $green2, $green4, $green3, $green1)

.edit a
  @include text-button($black1, $black2)

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary
  background: $blue2
  border-color: $black3

/*** Forms ***/
form
  max-width: 800px
  margin: 0

form.no-max
  max-width: none

.control-group
  ul.checkbox-list
    position: relative
    top: 0.5rem
    margin: 0
    padding: 0
    list-style: none
    ul
      padding: 0
      list-style: none
      margin: 0 0 0 1.2rem

label
  @include font("robotomedium")
  font-weight: normal
  text-transform: lowercase

.ink-form textarea
  min-height: 175px
  text-size: 16px
  line-height: 18px
  padding: 6px
  resize: both

.captcha > div // only when captcha exists will margin be added
  margin-bottom: 0.5rem

.ink-button.push-right
  margin: 0 0 0.5rem 0

label > .label-body
  @include font("robotomedium")

.ink-form .control-group .control > input[type="checkbox"]
  width: auto
  margin-top: 4px

.required:after
  content: '*'
  margin: 0 0 0 1px
  color: red

.status
  @include font("robotomedium")
  display: none
  &.saving, &.saved
    color: $green1
  &.error
    color: $red1
  i
    margin-right: 4px

form.link
  min-width: auto
  display: inline
  margin: 0

input[type=text]:disabled, textarea:disabled
  background: $disabled

fieldset:disabled
  color: $disabled_text
  input[type=checkbox] + label:before, i
    color: $disabled_text

.ink-form .ink-button, .ink-button
  text-transform: lowercase
  margin: 0 0.5rem 0.5rem 0

.ink-navigation ul.menu:after, .button-group:after, .ink-form .control-group .control > li:after,
.ink-form .control-group .control:after, .ink-form .control-group:after
  clear: left

.ink-button.black:hover
  background: $black1

.ink-navigation ul.menu.white
  background: 0

.ink-navigation
  margin: 0 -0.5rem 0.5rem -0.5rem
  border-bottom: 1px solid $black4

.spoiler
  display: inline-block
  background: #000
  padding: 1px 4px
  border: 1px dashed white
  &:hover, &:focus
    color: white
    cursor: help

blockquote
  font-size: inherit

code
  display: inline-block
  white-space: pre-wrap
  background: $disabled
  border: 1px solid $black4
  padding: 1px 4px

footer
  padding-top: 1rem

/*** Content Container ***/
#content
  margin-right: 250px
  padding: 0 0.5rem 0.5rem 0.5rem
  position: relative

/*** Sidebar ***/
aside
  padding: 0 0.5rem
  float: right
  width: 250px
  margin: 0 0 0 -0.5rem

  .button-group
    margin: 0.5rem 0
    padding: 0
    a.ink-button, button
      width: 30px
      padding: 8px 0
      margin: 0 !important
      text-align: center

  #user
    //width: 172px
    overflow: hidden
    text-align: left
    padding: 8px 0 8px 12px
    float: none
    width: auto

  #user, #settings
    background: $orange2
    border: 1px solid $orange1
    color: white
    &:hover
      background: lighten($orange2, 3%)

  #settings
    border-width: 1px 0 1px 0

  #settings, #sign_out
    float: right

  a.ink-button, button
    text-align: left
    margin: 0.5rem 0 !important
    text-overflow: ellipsis
    display: block
    i
      width: 18px

  #tags
    list-style: none
    margin: 0
    padding: 0
    li
      display: inline-block
      margin: 0 5px 0 0
      padding: 0
      a
        @include link-colors($green2, $green3)
        @include font("robotomedium")
      &:after
        content: ","
    li.all
      a
        @include link-colors($orange1, $orange2)
      &:after
        content: ""
        margin: 0

#unread
  display: none

body.unread-enable #unread
  display: block

.page
  margin-top: 0.5rem
  font-size: 25px
  @include link-colors($orange1, $orange2)
  font-weight: bold
  &:hover
    text-decoration: none
  i
    font-size: 20px

.loading-big
  display: block
  text-align: center
  height: 45px
  font-size: 30px

.unread-count.new
  color: $orange1
  font-weight: bold

.action-links
  font-size: 18px
  a
    margin-right: 10px

#user_mobile, #menu
  display: none

@media screen and (max-width: $mobile_width)

  aside
    display: none
    position: fixed
    overflow-y: scroll
    top: 40px
    right: 0
    left: 0
    bottom: 0
    z-index: 9999
    background: white
    width: auto
    padding: 0 1rem

  #content
    margin-right: 0
    padding: 40px 0.5rem 0 0.5rem

  html
    padding: 0

  header
    background: $black1
    border-bottom: 1px solid $black2
    padding: 6px 40px 0 40px
    margin: 0
    position: fixed
    width: 100%
    z-index: 999999
    height: 40px
    h1
      font-size: 32px
      padding: 2px 0 0 0
      margin: 0
      a
        color: white
    small
      display: none

  #menu
    display: block
    color: $orange2
    font-size: 25px
    position: absolute
    top: 0px
    left: 0
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center


  #user_mobile
    color: white
    display: block
    font-size: 25px
    position: absolute
    top: 0px
    right: 0
    width: 40px
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center

  body.side-open
    overflow: hidden
    aside
      display: block

    #menu
      transform: rotate(90deg)
      //animation-iteration-count: infinite
      //animation-timing-function: linear

  body.side-close
    #menu
      transform: rotate(0deg)

