@import _constants

a.delete
  @include link-colors($red1, $red2)

a.reply
  @include link-colors($green1, $green2)

a.update
  @include link-colors($orange1, $orange2)

/*** Comments block ***/

.comment-container
  background: $disabled
  background: linear-gradient(to right, $disabled, white 70%)

  .comment-container
    border-left: 10px solid $black3

  &.even
    border-color: $black4

#comment_list
  margin: 0 -0.5rem
  .none
    padding: 0 8px
  & > .comment-container
    margin-top: 20px
    border-top: 1px solid $black4
    &:first-child
      margin-top: 0

/* #comment_list h6
  display: none */

/* body.can-downvote .comment .down
  display: block
  margin-top: 25px */

.comment-form
  h6
    display: none
  .button-update
    display: none
  &.form-update
    .button-update
      display: block
    .button-reply
      display: none
  &.form-reply h6.header-reply, &.form-update h6.header-update
    display: block

.comment
  border-bottom: 1px solid $black4
  padding: 2px 5px
  position: relative

  .up
    @include font("robotobold")
    margin-right: 6px
    position: static
    color: $black1
    &:hover
      color: $green2
      text-decoration: none

  .user
    margin-left: 6px

  .deleted
    @include font("robotoitalic")
    color: $red1
    margin-left: 8px

  .score
    margin: 0 5px 0 0

  .comment-form
    h5
      display: none

  .comment-markdown
    display: block
    // TODO: Maybe programmatic approach to hiding long comments?
    max-height: 1000px
    overflow: auto
    margin-left: 5px

    //padding: 2px 4px

  .comment-header
    i
      width: 15px

  //.comment-header, .comment-options
    //@include font("robotoregular")


  //  .up, .down
  //    float: left

  //.comment-body
    //border: solid $black4
    //border-width: 1px 0 1px 0

  ul.comment-options
    margin: 0
    padding: 0
    list-style: none
    li:first-child
      padding: 0 5px 0 0
    li
      display: inline
      padding: 0 5px
      a i
        padding-right: 3px

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
  .comment
    background: $disabled