@import _constants

h4.none
  padding: 8px 0

#tags_container
  background: #fff none repeat scroll 0 0
  border: 1px solid #c6c6c6
  border-radius: 2px
  font-family: "Roboto",Arial,Helvetica,sans-serif
  font-weight: 300
  vertical-align: middle

#form_tags_list
  min-height: 60px
  padding: 8px 6px

#suggest_tag_button
  margin: 0

#tags_autocomplete
  display: none
  top: -1px
  ul.dropdown
    width: 100%
    max-width: none
    margin: 0

#link_type_container
  li:first-child
    padding-right: 10px

.taggle_list
  margin: 0
  padding: 0
  float: left
  li
    margin: 0
    padding: 0
  input
    border: 0 !important
    box-shadow: none !important
    margin-top: -3px

.link-types
  @include font("robotomedium")
  font-size: 18px
  text-transform: lowercase
  a
    @include link-colors($blue2, $blue4)
    margin: 0 0 0 10px
  a:first-child
    margin: 0

.sort
  select
    margin-left: 2px
    padding: 6px

/*** Link ***/
section.link
  position: relative
  display: block
  border-bottom: 1px solid $black4
  color: $black1
  //border-right: 1px solid $black4
  padding: 10px 0 10px 180px
  min-height: 76px
  font-size: 16px
  line-height: 20px
  z-index: 1
  //background: #f5f5f5

  .up, .comments
    @include font("roboto_condensedbold")
    font-size: 16px
    position: absolute
    left: 9px
    i
      display: block
      float: left
      width: 18px
    &:hover
      text-decoration: none

  .up
    top: 12px
    i
      font-size: 22px
      margin-top: -2px


  .comments
    color: $black1
    top: 42px
    i
      text-shadow: -1px 0 $blue1, 0 1px $blue1, 1px 0 $blue1, 0 -1px $blue1
      color: $blue4
      margin-top: 4px
      font-size: 13px
    &:hover i
      color: $blue3

  .thumbnail
    position: absolute
    left: 60px
    top: 6px
    a
      text-align: center
      display: block
      width: 112px
      height: 63px

    &:hover
      opacity: 0.8

  i.icon
    display: none
    font-size: 16px
    position: absolute
    left: 3px
    bottom: 1px
    color: black
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white

  .text
    font-size: 16px
    position: absolute
    bottom: 0
    right: 0
    height: 45px
    width: 22px
    i
      position: absolute
      right: 3px
      bottom: 1px
      color: black
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white

  img
    max-width: 112px
    max-height: 63px

  .title
    @include link-colors($blue1, $blue2)
    word-wrap: break-word
    font-size: 16px
    @include font("robotomedium")

  .domain, .nsfw-label
    font-size: 14px
    color: #555
    padding: 0 0 0 6px
    @include font("roboto_condensedlight")


  //&.unread-lock
    //.unread-label:before
      //content: "*"
      //@include font("robotomedium") */

  .inline
    float: left
    display: block
    height: 20px
    width: 20px
    line-height: 22px
    font-size: 14px
    margin: 0 3px 0 0
    color: #fff
    display: block
    text-align: center
    border-radius: 10px
    background: $black1
    i
      position: relative
      top: -1px
    &:hover
      background: $black3

  .nsfw-label
    color: $red2

  .content
    margin: 5px 0 0 0

  .footer
    font-size: 14px
    list-style: none
    margin: 3px 0 0 0
    padding: 0
    display: block
    @include font("robotoregular")

    .read
      width: 20px
      text-align: center
      i
        margin-right: 0

    .time i
      margin-top: 2px
      font-size: 14px

    .user i
      font-size: 14px

    li
      margin: 0 8px 0 0
      display: inline-block
      i
        display: inline-block
        margin-right: 3px
        color: $blue1
      a
        @include font("robotomedium")
        @include link-colors($blue1, $blue3)
        i
          font-size: 18px
          vertical-align: middle
          position: relative
          top: -2px

    li.content
      display: block
      float: left
      text-align: center
      width: 20px
      a
        @include link-colors($black1, $black2)

    li.save a
      i
        color: $star_off
        text-shadow: -1px 0 $star_border, 0 1px $star_border, 1px 0 $star_border, 0 -1px $star_border
      &:hover i
        color: $star_on

  &.unread
    background: #fff3e0
    background: linear-gradient(to right, #fff3e0 20%, white 80%)
    .title, .unread-label, .score
      @include font("robotomedium")
    .read a i
      @include link-colors($red1, $red2)

body.c-link.a-show section.link // Single link on page override
  border-top: 1px solid $black4
  .read
    display: none

/* body.can-downvote section.link
  .down
    margin-top: 25px
    display: block */

.text-container
  padding: 5px
  text-align: left
  border: solid $black4
  border-width: 1px 0 1px 0
  margin: 0 0 1rem 0

.view-content
  margin: 8px 0 0 -145px

// Hide NSFW thumbnails until hover
body.hide-nsfw section.link.nsfw .thumbnail a:first-child
  background: url('/images/nsfw.png')
  img
    display: none

  &:hover
    background: none
    img
      display: block

// NSFW img is forced when there's a text post
section.link.nsfw.text .thumbnail a:first-child, section.link.nsfw.text .thumbnail a:first-child:hover
  background: url('/images/nsfw.png') !important
  img
    display: none !important

// Generating thumbnail overrides previous NSFW settings
section.link.generating-thumbnail .thumbnail a:first-child
  background: none !important
  img
    display: none !important
  &:before
    display: block
    -webkit-animation: fa-spin 2s infinite linear
    animation: fa-spin 2s infinite linear
    font: 30px "FontAwesome"
    content: "\f013"
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: $orange1
    line-height: 63px
  &:hover, &:focus
    text-decoration: none

/*@media screen and (max-width: $small_sidebar_width)
   section.link
    margin: 0 0 0.5rem 0
    padding: 0.5rem 0 0 110px

    &:first-child
      padding: 0 0 0 110px

    .thumbnail
      left: 0

    .up, .down
      left: 82px */

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
  section.link
    min-height: 95px
    padding: 0 0 0 116px
    &.unread
      background: #fff3e0
    .thumbnail
      left: 0
      top: 0
    .up
      top: 68px
      left: 2px
    .comments
      top: 68px
      left: 60px
    .footer
      margin: 0
    .footer li.tags
      display: block