@import _constants

span.nsfw
  color: $red1
  @include font("robotomedium")

span.content
  color: $purple1
  @include font("robotomedium")

a.tag
  @include link-colors($green2, $green3)
  @include font("robotomedium")

#link_list, #link_menu
  margin: 0 -0.5rem

#pagination
  border-bottom: 0

.link-list-unread
  display: none

body.unread-enable .link-list-unread
  display: block

#tag_form
  max-width: none

ul.tag_list
  clear: left
  list-style: none
  padding: 0
  margin: 0
  li
    position: relative
    padding: 2px 0 2px 155px
    border-top: 1px solid $black4
    background: 0
    margin: 0
    min-height: 40px
    text-transform: lowercase
    &:first-child
      border-top: 0
    .subscribe
      position: absolute
      top: 3px
      left: 0

body.c-tag.a-show
  .subscribe
    position: absolute
    right: 0
    top: -34px
    z-index: 1

.subscribe
  button
    margin: 0 !important
    width: 150px
  .button-subscribe
    width: 115px
  .button-block
    color: $red1
    width: 35px
    padding: 8px 0
    i
      font-size: 18px
      position: relative
      top: 1px
  &.state-unsubscribed
    .button-subscribed, .button-blocked
      display: none
  &.state-blocked
    .button-subscribed, .button-subscribe, .button-block
      display: none
  &.state-subscribed
    .button-block, .button-subscribe, .button-blocked
      display: none


/* .tag-list
  font-size: 14px
  font-size: 13px
  margin-top: -2px */
/*
  .main-categories
    list-style: none
    margin: 0
    padding: 0
    font-size: 18px
    li
      text-transform: lowercase
      margin: 0
      padding: 0.2rem 0
      border-top: 1px solid $black4
      &:first-child
        border-top: 0
      i
        display: inline-block
        width: 25px
      small
        font-size: 12px
        padding-left: 8px*/

/*** Inline  content on links ***/
.fit-content
  text-align: center
  img
    max-width: 100%
    margin: 0 auto
  iframe
    margin: 0 auto

#tag_search_input
  display: inline-block
  max-width: 300px
  width: 100%
  margin: 0 0 0.5rem 0

/*** Link list footer ***/
#link_footer
  height: 85px
  text-align: center
  //display: none

body.unread-enable.unread-scroll
  #link_footer
    height: 100vh
    //display: block

///
// Mobile style overrides
///
@media screen and (max-width: $mobile_width)
  body.c-tag.a-show
    .subscribe
      position: relative
      top: 0px
      right: -0.5rem
      float: right