@import _constants

.score
  color: #555

.up
  i
    display: block
    float: left
    width: 18px
    font-size: 18px
    text-shadow: -1px 0 $green1, 0 1px $green1, 1px 0 $green1, 0 -1px $green1
    color: $green4
  &:hover i
    color: $green3 !important

.upped .up
  @include link-colors($green2, $green3)
  i
    @include link-colors($green2, $green3)


.downed .down
  @include link-colors($red2, $red3)

.negative
  color: $red1

.positive
  color: $green1

.score
  margin-right: 5px