= if Ecto.assoc_loaded?(@tag.subscription) do
  div.button-group.subscribe class=subscribe_state(@tag.subscription) id="subscribe_#{@tag.name_indexed}"
    button.ink-button.button-subscribe title="subscribe to this tag" Subscribe
    button.ink-button.button-block title="block this tag"
      i.fa.fa-ban
    button.ink-button.green.button-subscribed Subscribed
    button.ink-button.red.button-blocked Blocked