li id="tag_#{@tag.name_indexed}"
  = render "_subscribe_button.html", tag: @tag
  a href=tag_path(@conn,:show,@tag.name_indexed) title=@tag.name = @tag.name_indexed
  br
  small
    = @tag.subscribers
    = pluralize(@tag.subscribers, " subscriber")