= form_for @changeset, tag_path(@conn, :update, @tag.name_indexed), [class: "ink-form"], fn f ->
  div.control-group
    = label f, :name, "full tag name", class: "required"
    div.control
      = text_input f, :name
      p.tip only letters, numbers, and spaces are permitted. enter in the full name of the tag (with spaces), the tag url will automatically be shortened. if the subject of your tag is more commonly known for its abbreviation, use it instead.
  div.control-group
    = label f, :name_indexed, "indexed name", class: "required"
    div.control
      = text_input f, :name_indexed
  div.control-group
    div.control
      = checkbox f, :default
      = label f, :default, "is default tag"
  = submit "Submit", class: "ink-button blue"
= if @tag.subscribers < 25 do
  h5 delete tag
  p deleting a tag will possibly orphan links (if they only had one tag), and will automatically unsubscribe everybody. you are only allowed to delete tags with under 25 subscribers.
  = link "Delete", to: tag_path(@conn, :delete, @tag.name_indexed), method: :delete, data: [confirm: "are you super sure? this can't be reversed!"], class: "ink-button red"