= form_for @conn, tag_path(@conn, :index), \
  [as: :tag, id: :tag_form, class: "ink-form"], fn f ->
  div#tag_search_input.control-group
    div.control.append-symbol role="search"
      span
        = text_input f, :search, placeholder: "search", autocomplete: "off", maxlength: 50
        i.fa.fa-search
  = link "Add new tag", to: tag_path(@conn, :new), class: "ink-button push-right"
ul.tag_list
  = render_many @tags, Lynx.TagView, "_tag.html", conn: @conn