h6 rules:
ul.no-margin
  li do not make tags for solely nsfw content such as extreme violence, gore, or sexual content
= form_for @changeset, tag_path(@conn, :create), [class: "ink-form"], fn f ->
  /= render Lynx.SharedView, "_form_errors.html", changeset: @changeset
  div.control-group
    = label f, :name, "full tag name", class: "required"
    div.control
      = text_input f, :name, maxlength: 20
      p.tip only letters, numbers, and spaces are permitted. enter in the full name of the tag (with spaces), the tag url will automatically be shortened. if the subject of your tag is more commonly known for its abbreviation, use it instead.
  div.control-group
    = label f, :path, "tag url preview"
    div.control
      span#tag_url_preview.monospace
        = tag_path(@conn, :index) <> "/"
        span
  /= captcha "submit_subcategory"
  = submit "Submit", class: "ink-button blue"
