nav.ink-navigation
  ul.menu.horizontal.white
    li class=active_class(String.ends_with?(@conn.request_path,"/admin"))
      = link "home", to: admin_path(@conn, :index)
    li class=active_class(String.starts_with?(@conn.request_path,"/admin/rss"))
      = link "rss", to: admin_rss_path(@conn, :index)