div.comment-container class=even_odd_class(@comment.depth)
  section id="comment_#{@comment.id}" class=comment_classes(@conn,@comment) data-score=@comment.score
    div.comment-header
      = if @comment.deleted do
        i.fa.fa-clock-o title="time posted"
        = time_ago_short(@comment.inserted_at)
        span.deleted
          i.fa.fa-times
          | deleted
      - else
        a.up href="#"
          i.fa.fa-caret-up
          span = shorten_number(@comment.score)
        i.fa.fa-clock-o title="time posted"
        = time_ago_short(@comment.inserted_at)
        a.user href=user_path(@conn,:show,@comment.user.name_lower) title="posted by"
          i.fa.fa-user-o
          = @comment.user.name_lower
      = if signed_in?(@conn) && !@comment.deleted do
    = unless @comment.deleted do
      div.comment-markdown.markdown
        = raw @comment.text_cached
      ul.comment-options = comment_options(@conn, @comment)
  = unless is_nil(assigns[:comments][@comment.id]), do: Enum.map @comments[@comment.id], fn comment ->
    = render Lynx.LinkView, "_comment.html", conn: @conn, comment: comment, comments: @comments
