= form_for @changeset, @action, [class: "ink-form", id: "form_link"], fn f ->
  /= render Lynx.SharedView, "_form_errors.html", changeset: @changeset
  div#link_type_container.control-group.no-margin
    ul.control.unstyled.no-margin
      li.push-left
        = radio_button f, :type, 0, checked: @changeset.data.content_type != 1
        = label f, :type_0, "url"
      li.push-left
        = radio_button f, :type, 1, checked: @changeset.data.content_type == 1
        = label f, :type_1, "text"
  div.control-group
    = label f, :title, class: "required"
    div.control = text_input f, :title, maxlength: 255
  div#link_url_container.control-group class=active_class(@changeset.data.content_type==1,"hide-all")
    = label f, :url, "URL", class: "required"
    div.control = text_input f, :url, maxlength: 2000
  div#link_text_container.markdown-field.control-group class=active_class(!(@changeset.data.content_type==1),"hide-all")
    = label f, :text, class: "required"
    div.control
      = textarea f, :text, maxlength: 25000
      = render Lynx.SharedView, "_markdown_help.html"
  div.control-group
    = label f, :tags, class: "required"
    = hidden_input f, :tag_list, value: tag_list_form(f.data.tags)
    div.control
      div#tags_container
        div#form_tags_list
      div#tags_autocomplete.ink-dropdown
        ul.dropdown
          li.disabled
            a href="#" no results
    p.tip
      | tags that you specify must already exist, limited to 5. if you wish to add new tags to the site you should add them
      = " "
      = link("here", to: tag_path(@conn, :new), target: "_blank")
      | .
  div.control-group
    div.control
      = checkbox f, :nsfw
      = label f, :nsfw, "Mark this as NSFW"
  = if current_user(@conn).admin && f.data.id do
    fieldset
      div.control-group
        p.label link status (admin only)
        ul.control.unstyled
          li
            = radio_button f, :deleted, 0
            = label f, :deleted_0, "normal"
          li
            = radio_button f, :deleted, 1
            = label f, :deleted_1, "do not index", title: "viewable to anyone only if they have the link"
          li
            = radio_button f, :deleted, 2
            = label f, :deleted_2, "soft deleted", title: "viewable to admins only"
    div.control-group
      div.control
        = checkbox f, :force_thumbnail
        = label f, :force_thumbnail, "Force generation of new thumbnail"
        p.tip this will automatically be done if the url changes
  /= unless f.model.id do
  /  = captcha "submit_link"
  = submit "Submit", class: "ink-button blue"
