section id="link_#{@link.slug_id}" class=link_classes(@conn,@link) data-score=@link.score
	a.up href="#"
		i.fa.fa-caret-up
		span = shorten_number(@link.score)
	a.comments href=link_path(@conn,:show,@link.slug) title="comments"
		i.fa.fa-comment
		= shorten_number(@link.comments_count)
	div.thumbnail
		a href=url_else_comments(@conn,@link) target="_blank" rel="noopener"
			= if @link.content_type && not is_nil(Link.content_type(@link)[:icon]) do
				i.fa.icon class=Link.content_type(@link)[:icon]
			img src=thumbnail_url(@link)
	div.content
		= link @link.title, to: url_else_comments(@conn,@link), class: "title", target: "_blank", rel: "noopener"
		= if @link.domain do
			span.domain = @link.domain
		/= @link.hot
		ul.footer
			/= if signed_in?(@conn) do
				/li.save
				/  a href="#" title="star"
				/    i.fa.fa-star
				/ li.report
				/   a href="#" title="report" data-ask="are you sure you want to report this link?"
				/     i.fa.fa-exclamation-triangle
			/li.comments = link raw("<i class=\"fa fa-comments\"></i>#{comment_count(@link)}"), to: link_path(@conn, :show, @link.slug), title: "comments"
			= if signed_in?(@conn) && current_user(@conn).unread_enable && (@link.read == nil || @link.read.id != 1) do
				li.read
					a.unread-label href="#"
						i.fa.fa-eye title="toggle unread"
			li.time title="time posted"
				i.fa.fa-clock-o
				= time_ago_short(@link.inserted_at)
			li.user title="posted by"
        a href=user_path(@conn,:show,@link.user.name_lower)
          i.fa.fa-user-o
          = @link.user.name_lower
			li.tags
				i.fa.fa-tags title="tags"
				= raw tag_list(@conn, @link)