= if @tag.id do
  = render(Lynx.TagView, "_subscribe_button.html",  conn: @conn, tag: @tag)
nav#link_menu.ink-navigation
  ul.menu.horizontal.white
    li class=active_class(@sort==:hot)
      a href=sort_url(@tag) hot
    = if current_user(@conn).id do
      li.link-list-unread class=active_class(@sort==:unread)
        a href=sort_url(@tag,:unread)
          = unread_counter(@unread_count)
          |  unread
    - else
      li.disabled
        a href="#" title="You must be signed in to see unread items" unread
    li class=active_class(@sort==:new)
      a href=sort_url(@tag,:new) new
    li class=active_class(@sort==:top)
      a href=sort_url(@tag,:top) top
    = if @sort == :top do
      li.sort
        form method="get" class="ink-form" id="link_params"
          input type="hidden" name="p" value=to_integer(@conn.params["p"])
          select#days name="t"
            option value="forever" forever
            option value="year" selected=(@conn.params["t"]=="year") last year
            option value="month" selected=(@conn.params["t"]=="month") last month
            option value="week" selected=(@conn.params["t"]=="week") last week
            option value="3days" selected=(@conn.params["t"]=="3days") last 3 days
            option value="day" selected=(@conn.params["t"]=="day") last day
= if @links != [] do
  div#link_list data-read-url=link_read_path(@conn,:create)
    = Enum.map Enum.with_index(@links), fn {link, i} ->
      = if i == 50 do
        = tag_list_link(@conn, :next, sort: @sort, link: link)
      - else
        = render(Lynx.LinkView, "_link.html", link: link, conn: @conn, one: false)
- else
  h4.none no links found
= if @links != [] do
  div#link_footer
    = if current_user(@conn).admin && @tag.id do
      = render(Lynx.TagView, "_admin_controls.html",  conn: @conn, tag: @tag)