= render_one @link, Lynx.LinkView, "_link.html", conn: @conn, one: true
= if current_user(@conn).admin do
  = render Lynx.LinkView, "_admin_controls.html",  conn: @conn, link: @link
= if @link.text do
  div.text-container.markdown = raw @link.text_cached
= if signed_in?(@conn) do
  = form_for @conn, comment_path(@conn, :create), [as: :comment, id: "comment_form", class: "comment-form ink-form"], fn f ->
    h5 post new comment
    h6.header-reply Posting Reply
    h6.header-update Editing Comment
    = hidden_input f, :comment_id
    = hidden_input f, :link_id, value: @link.id
    div.control-group
      div.markdown-field.control
        = textarea f, :text, maxlength: 10000
        = render Lynx.SharedView, "_markdown_help.html"
      = submit "Post Comment", class: "ink-button blue button-reply"
      = submit "Edit Comment", class: "ink-button blue button-update"
- else
  h5 post new comment
  | You need to be signed in to post a comment.
div#comment_list
  = if !is_nil(@comments[0]) do
    = Enum.map @comments[0], fn comment ->
      = render Lynx.LinkView, "_comment.html", conn: @conn, comment: comment, comments: @comments
  - else
    strong.none No comments yet. Be the first to post something and be the envy of your friends and family.

