dl.markdown-help.markdown
  dt.header markdown
  dd.header result
  = markdown_example "*italics* or _italics_"
  = markdown_example "**bold** or __bold__"
  = markdown_example "strike ~~that~~ out"
  = markdown_example "e=mc^2^"
  = markdown_example "h~2~o"
  = markdown_example "[link text](www.google.com)"
  = markdown_example "> quoting somebody\n> another line\n>> another layer!"
  = markdown_example "* unordered list\n* another point\n"
  = markdown_example "1. ordered list\n2. another number\n  * nesting is supported\n    1. 3 levels even"
  = markdown_example ">! spoiler text"
  = markdown_example "`some code i wrote\n    with spacing`"