small
  a href="#" class="toggle" markdown formatting help
= if Cachex.exists?(:lynx, "markdown_help") == {:ok, false} do
  - Cachex.set(:lynx, "markdown_help", render(Lynx.SharedView, "_markdown_body.html"))
= Cachex.get!(:lynx, "markdown_help")